<div class="student_rht">
    <div class="custom_card networks_people contact_page">
      <div class="network_top">
        <h3>My Plans</h3>
      </div>
      <div class="network_btm">
        <div *ngIf="currentPlan">
          <h4 class="primary_color mb-3">{{ isExpired ? 'Expired':'Active Plan' }}</h4>
          <div class="card card_plan card_plan01" [ngClass]="{'card_plan02': isExpired }">
            <ul>
              <li>{{ currentPlan.plan }} Plan</li>
              <li class="pricelist"> <span>{{ currentPlan.amount | currency:'₹' }}</span></li>
            </ul>
            <p [innerHtml]="currentPlan.description"></p>
            <p>Pack Duration : {{ currentPlan.validity }} Month <br>
              Pack Expires on : {{ currentPlan.end_date }} </p>
          </div>
      </div>
      <h5 *ngIf="!currentPlan">You have no plan!</h5>
    </div>
  </div>