<div class="student_rht">
    <div class="custom_card networks_people contact_page">
      <div class="network_top">
        <h3>My Plans</h3>
      </div>
      <div class="network_btm">
        <div class=" w-75 m-auto" *ngIf="activePlan">
          <h4 class="primary_color mb-3">Active Plan</h4>
          <div class="card card_plan card_plan01 ">
            <ul>
              <li>{{ activePlan.plan }} Plan</li>
              <li class="pricelist"> <span>{{ activePlan.amount | currency:'₹' }}</span></li>
            </ul>
            <p [innerHtml]="activePlan.description"></p>
            <p>Pack Duration : {{ activePlan.validity }} Month <br>
              Pack Expires on : {{ activePlan.end_date }} </p>
          </div>
      </div>
      <h5 *ngIf="!activePlan">You have no plan!</h5>
    </div>
  </div>