<!-- ========== :: Hero-Banner :: ========== -->
<section class="hero-bg" id="home">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-5  col-md-7 col-12">
          <div class="banner_content">
            <h2 class="hero-title primary_color">Welcome to <span> Tanito Platform </span></h2>
            <p class=" mb-4"> <span class="hide">Tanito helps students and teachers connect and discuss any topic or questions. </span></p>
            <app-login-form></app-login-form>
            <div class="mshow d-none sign_arrow"> <img src="assets/images/icons/sign_arrow-btm.svg" class="img-fluid" alt="banner"> </div>
          </div>
        </div>
        <div class="col-xl-7  col-md-5 col-12 d-none d-md-block">
          <div class="banner_img hide"> <img src="assets/images/banner/banner1.svg" class="img-fluid" alt="banner"> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== :: people_need :: ========== -->
  <section class="section position-relative people_need d-none d-md-block" >
    <div class="container">
      <div class="row align-items-center m_column-reverse">
        <div class="col-lg-5 offset-lg-1">
          <div class="pr-lg-5 mt-4">
            <h3 class="mb-5 primary_color"> Find the people you need </h3>
            <a routerLink="/feed" class="text-purple text-uppercase btn_primary btn-sm">Get Started</a> </div>
        </div>
        <div class="col-lg-6">
          <div class="people_need-img mt-4"> <img src="assets/images/fing.svg" alt="find people" class="img-fluid mx-auto d-block"> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== :: people_need :: ========== -->
  <section class="position-relative limitless_learning grey-scale">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 xsp-0">
          <div class="people_need-img"> <img src="assets/images/limitless.jpg" alt="limitless" class="img-fluid mx-auto d-block"> </div>
        </div>
        <div class="col-lg-6">
          <div class="pr-lg-5 mt-4 pl-5 count-area">
            <h3 class="mb-4 text-dark d-none d-md-block head-title"> Get the limitless learning with more possibilities </h3>
            <div class=" count-list">
              <div class="counter-box"> <span class="counter">{{ count.post }} </span>
                <p> Query Posted</p>
              </div>
              <div class="counter-box"> <span class="counter">{{ count.student }} </span>
                <p> Students Skilled</p>
              </div>
              <div class="counter-box"> <span class="counter">{{ count.teacher }}</span>
                <p> Skilled Instructors</p>
              </div>
            </div>
            <p class="mb-4">We can help you reach out to many teachers and student, to know more about us you can go to read more.</p>
            <a class="btn-sm btn_primary" routerLink="/about-us"> Read More</a> </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section position-relative people_need d-none mshow" >
    <div class="container">
      <div class="row align-items-center m_column-reverse">
        <div class="col-lg-5 offset-lg-1">
          <div class="pr-lg-5 mt-4">
            <h3 class="mb-5 primary_color"> Find the people you need </h3>
            <a href="student-home.php" class="text-purple text-uppercase btn_primary btn-sm">Get Started</a> </div>
        </div>
        <div class="col-lg-6">
          <div class="people_need-img mt-4"> <img src="assets/images/fing.svg" alt="find people" class="img-fluid mx-auto d-block"> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Otp Sent modal -->
  <div class="modal fade modal_tanito" id="signotpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase">OTP VERIFICATION</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Please enter the One Time Password received on your registered mobile number or email to verify your account. </p>
          <h6 class="mb-4">VERIFY YOUR ACCOUNT</h6>
          <div class="form-group verfOtp_box">
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off"  />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off"  />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off" />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off" />
          </div>
          <button  type="button" class="btn btn_primary btn-sm text-uppercase mb-2">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Forgot passowrd Modal -->
  <div class="modal fade modal_tanito" id="forgotpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase"> FORGOT PASSWORD</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Please enter your registered mobile number &amp; we will send you a verification code so that you can reset your password.</p>
          <form class="registration-form w-75 m-auto">
            <div class="form-group mb-4">
              <label class="primary_color spcllbl">Phone No</label>
              <input type="email" class="form-control" placeholder="+876-9876543210">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn_primary btn-sm text-uppercase mr-3" >Back to Login</button>
              <button type="submit" class="btn btn_primary btn-sm text-uppercase" >Get OTP</button>
            </div>
          </form>
          <p class="text-center signnote mt-4"> New to Tanito? <a href="register.php" class="primary_color text-uppercase" > Sign up</a> </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Reset passowrd Modal -->
  <div class="modal fade modal_tanito" id="resetmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase"> Reset Password</h5>
        </div>
        <div class="modal-body">
          <h6 class="text-uppercase text-center mb-4">Kindly reset your password</h6>
          <form class="registration-form w-75 m-auto">
            <div class="form-group">
              <label class="primary_color spcllbl">Password*</label>
              <input  type="password" class="form-control password-field1" placeholder="**************">
              <span toggle=".password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span> </div>
            <div class="form-group">
              <label class="primary_color spcllbl">Confirm password*</label>
              <input  type="password" class="form-control password-field1" placeholder="**************">
              <span toggle=".password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span> </div>
            <div class="form-group mb-2 text-center">
              <button type="submit" class="btn btn_primary btn-sm text-uppercase mr-3" >Done </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>