<!-- ========== :: Hero-Banner :: ========== -->
<section class="hero-bg" id="home">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-5  col-md-7 col-12">
          <div class="banner_content">
            <h2 class="hero-title primary_color">Welcome to <span> Tanito Platform </span></h2>
            <p class=" mb-4"> <span class="hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </span></p>
            <app-login-form></app-login-form>
            <!-- <form class="registration-form">
              <div class="form-group">
                <label class="primary_color spcllbl">Phone No</label>
                <input type="email" class="form-control"  placeholder="+876-9876543210">
              </div>
              <div class="form-group">
                <label class="primary_color spcllbl">Password*</label>
                <input  type="password" class="form-control password-field2" placeholder="**************"  >
                <span toggle=".password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span> </div>
              <a href="#" data-toggle="modal" data-target="#forgotpmodal" class="fwdpass primary_color text-right btn-block  mb-4">Forgot your password?</a>
              <label class="mshow d-none label_slt_click">
                <input type="checkbox" class="mr-2">
                I accept the Terms and Conditions and Privacy Policy </label>
              <div class="form-group text-center">
                <button type="submit" class="btn btn_primary btn-sm text-uppercase btnbtn">Sign in</button>
              </div>
              <p class="text-center signnote mt-4 d-none mshow"> New to Tanito? <a href="register.php" class="primary_color text-uppercase"> Sign up</a> </p>
            </form> -->
            <div class="mshow d-none sign_arrow"> <img src="assets/images/icons/sign_arrow-btm.svg" class="img-fluid" alt="banner"> </div>
          </div>
        </div>
        <div class="col-xl-7  col-md-5 col-12 d-none d-md-block">
          <div class="banner_img hide"> <img src="assets/images/banner/banner1.png" class="img-fluid" alt="banner"> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== :: people_need :: ========== -->
  <section class="section position-relative people_need d-none d-md-block" >
    <div class="container">
      <div class="row align-items-center m_column-reverse">
        <div class="col-lg-5 offset-lg-1">
          <div class="pr-lg-5 mt-4">
            <h3 class="mb-5 primary_color"> Find the people you need </h3>
            <a href="#" routerLink="/userTimeline" class="text-purple text-uppercase btn_primary btn-sm">Get Started</a> </div>
        </div>
        <div class="col-lg-6">
          <div class="people_need-img mt-4"> <img src="assets/images/fing.svg" alt="find people" class="img-fluid mx-auto d-block"> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== :: people_need :: ========== -->
  <section class="position-relative limitless_learning grey-scale">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 xsp-0">
          <div class="people_need-img"> <img src="assets/images/limitless.jpg" alt="limitless" class="img-fluid mx-auto d-block"> </div>
        </div>
        <div class="col-lg-6">
          <div class="pr-lg-5 mt-4 pl-5 count-area">
            <h3 class="mb-4 text-dark d-none d-md-block head-title"> Get the limitless learning with more possibilities </h3>
            <div class=" count-list">
              <div class="counter-box"> <span class="counter">45 </span>+
                <p> Running Courses</p>
              </div>
              <div class="counter-box"> <span class="counter">72 </span>M
                <p> Students Skilled</p>
              </div>
              <div class="counter-box"> <span class="counter">120</span>
                <p> Skilled Instructors</p>
              </div>
            </div>
            <p class="mb-4">you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend.</p>
            <a href="#" class="btn-sm btn_primary"> Read More</a> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== :: people_need :: ========== -->
  <section class="section position-relative connect_section pb-0">
    <div class="container">
      <div class="bodshadow">
        <div class="row align-items-center vertical-divider">
          <div class="col-6">
            <div class="titleshort">
              <h2> Connect with people who can help</h2>
              <a href="#" class="btn-sm btn_primary">Find people you know</a> </div>
          </div>
          <div class="col-6">
            <div class="titleshort">
              <h2> Learn the skills that can help you now</h2>
              <a href="#" class="btn-sm btn_primary">Choose topic to learn</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- TESTIMONIAL START -->
  <section class="section position-relative d-none d-sm-block" id="clients">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="text-center title mb-4">
            <h5 class="font-weight-bold text-uppercase text-dark">Industry leaders you may know</h5>
            <p>Explore new skills, deepen existing passions, and get lost in creativity. What you find just might surprise and inspire you.</p>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div  class="owl-carousel owl-theme" id="owl-demo-testi">
          <div class="item">
            <div class="testi-content text-center m-3"> <img src="assets/images/testimonial/ellipse1.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
              <h5 class="mt-4 mb-4">Vida Dupree  </h5>
              <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
              <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
              <a href="#" class="btn-sm btn_primary"> Follow</a> </div>
          </div>
          <!-- owl item and -->
          <div class="item">
            <div class="testi-content  text-center m-3"> <img src="assets/images/testimonial/ellipse2.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
              <h5 class="mt-4 mb-4">Vida Dupree  </h5>
              <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
              <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
              <a href="#" class="btn-sm btn_primary"> Follow</a> </div>
          </div>
          <!-- owl item and -->
          <div class="item">
            <div class="testi-content  text-center m-3"> <img src="assets/images/testimonial/ellipse3.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
              <h5 class="mt-4 mb-4">Vida Dupree  </h5>
              <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
              <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
              <a href="#" class="btn-sm btn_primary"> Follow</a> </div>
          </div>
          <!-- owl item and -->
          <div class="item">
            <div class="testi-content  text-center m-3"> <img src="assets/images/testimonial/ellipse2.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
              <h5 class="mt-4 mb-4">Vida Dupree  </h5>
              <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
              <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
              <a href="#" class="btn-sm btn_primary"> Follow</a> </div>
          </div>
          
          <!-- owl item and -->
          <div class="item">
            <div class="testi-content text-center m-3"> <img src="assets/images/testimonial/ellipse4.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
              <h5 class="mt-4 mb-4">Vida Dupree  </h5>
              <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
              <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
              <a href="#" class="btn-sm btn_primary"> Follow</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- TESTIMONIAL END -->
  
  
  <section class="section position-relative people_need d-none mshow" >
    <div class="container">
      <div class="row align-items-center m_column-reverse">
        <div class="col-lg-5 offset-lg-1">
          <div class="pr-lg-5 mt-4">
            <h3 class="mb-5 primary_color"> Find the people you need </h3>
            <a href="student-home.php" class="text-purple text-uppercase btn_primary btn-sm">Get Started</a> </div>
        </div>
        <div class="col-lg-6">
          <div class="people_need-img mt-4"> <img src="assets/images/fing.svg" alt="find people" class="img-fluid mx-auto d-block"> </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="newsletter_area">
    <div class="container-fluid p-0 widthfull">
      <div class="row">
        <div class="col-md-5 col-sm-4 img-side img-right">
          <div class="img-holder mhide" style="background-image: url(&quot;assets/images/nl_bg.jpg&quot;); transform: translate3d(0px, -6.15px, 0px);"> </div>
          <div class="img-holder-mobile d-none mshow"> <img src="assets/images/m-nl_bg.jpg" alt="newsletter images" class="img-fluid"> </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-sm-6 col-md-5 offset-md-6">
        <div class="title">
          <h2 class="mb-4">Want to get the latest update?</h2>
          <p class="mb-4">There are many variations of passages suffered alteration or opium dolor sit amen, consectetur adipescent elite, send do teiusmod tempo..</p>
        </div>
        <div class="newsletter">
          <form method="post" action="" class="form-nl">
            <input type="email" name="email" required="" placeholder="Your email">
            <button type="submit" name="subcribe" class="hover_effect1"> send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  <!-- Otp Sent modal -->
  <div class="modal fade modal_tanito" id="signotpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase">OTP VERIFICATION</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Please enter the One Time Password received on your registered mobile number or email to verify your account. </p>
          <h6 class="mb-4">VERIFY YOUR ACCOUNT</h6>
          <div class="form-group verfOtp_box">
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off"  />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off"  />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off" />
            <input type="number" class="form-control otp-number-input" placeholder="0" maxlength="1" autocomplete="off" />
          </div>
          <button  type="button" class="btn btn_primary btn-sm text-uppercase mb-2">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Forgot passowrd Modal -->
  <div class="modal fade modal_tanito" id="forgotpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase"> FORGOT PASSWORD</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Please enter your registered mobile number &amp; we will send you a verification code so that you can reset your password.</p>
          <form class="registration-form w-75 m-auto">
            <div class="form-group mb-4">
              <label class="primary_color spcllbl">Phone No</label>
              <input type="email" class="form-control" placeholder="+876-9876543210">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn_primary btn-sm text-uppercase mr-3" >Back to Login</button>
              <button type="submit" class="btn btn_primary btn-sm text-uppercase" >Get OTP</button>
            </div>
          </form>
          <p class="text-center signnote mt-4"> New to Tanito? <a href="register.php" class="primary_color text-uppercase" > Sign up</a> </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Reset passowrd Modal -->
  <div class="modal fade modal_tanito" id="resetmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase"> Reset Password</h5>
        </div>
        <div class="modal-body">
          <h6 class="text-uppercase text-center mb-4">Kindly reset your password</h6>
          <form class="registration-form w-75 m-auto">
            <div class="form-group">
              <label class="primary_color spcllbl">Password*</label>
              <input  type="password" class="form-control password-field1" placeholder="**************">
              <span toggle=".password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span> </div>
            <div class="form-group">
              <label class="primary_color spcllbl">Confirm password*</label>
              <input  type="password" class="form-control password-field1" placeholder="**************">
              <span toggle=".password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span> </div>
            <div class="form-group mb-2 text-center">
              <button type="submit" class="btn btn_primary btn-sm text-uppercase mr-3" >Done </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>