<div *ngIf="userData.data.user_post_data.length > 0">
    <div class="custom_card custom_crd_padd" *ngFor="let post of userData.data.user_post_data | recentPost">
        <div class="follow_top d-flex align-items-center">
          <div class="follow_lft"> <img class="profile-img" [src]="profilePath + userData.data.results.profile_img" [alt]="userData.data.results.username" />  </div>
          <div class="follow_rht">
            <div class="d-flex align-items-center">
              <h3>{{ userData.data.results.username }}</h3>
              <img class="user-type" [src]="userData.data.results.usertype == 3 ? studentIcon : teacherIcon" alt="user type">
            </div>
            <p>{{ (userData.data.results.usertype == 3 ? "Student at ":"Teacher at ") +  userData.data.results.university }} &nbsp; | &nbsp; {{ post.created | postCreated }}</p>
          </div>
        </div>
        <div class="follow_bdy">
          <p> {{ post.body }} </p>
          <ul [hidden]="post.tags.length == 0" class="hashtags">
            <li *ngFor="let tag of post.tags.split(',')">#{{ tag | lowercase }}</li>
          </ul>
          <img *ngIf="post.image.length > 0" class="post-img" [src]="imageDirPath + post.image">
          <plyr *ngIf="post.video.length > 0" style="display: block; max-width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: videoDirPath + post.video }]"></plyr>
        </div>
        <p class="subject d-block d-sm-none" [hidden]="post.subject.length == 0"> {{ post.subject | titlecase }}</p>
        <div class="follow_ftr">
            <div class="action-btn">
                <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isPostLiked(post.likes) }" #likeBtn (click)="onLikePost(post.id, likeType ? likeType : getLikeType(post.likes), likeBtn)">
                    <img [src]="checkLikeType(post.likes)" alt="icon" />
                </button>
                <div class="follow_ftr react-btn-grp">
                    <button type="button" (click)="onLikePost(post.id, 0, likeBtn)">
                        <img src="assets/images/icons/like_icon.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 1, likeBtn)">
                        <img src="assets/images/icons/lightbulb.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 2, likeBtn)">
                        <img src="assets/images/icons/clap.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 3, likeBtn)">
                        <img src="assets/images/icons/like.png" alt="icon" />
                    </button>
                </div>
            </div>
            <span class="likes">{{ post.likes.length }}</span>
            <svg
                version="1.1"
                fill="#474747"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="612px"
                height="612px"
                viewBox="0 0 612 612"
                style="enable-background: new 0 0 612 612;"
                xml:space="preserve"
                class="comment"
                appShowCommentBox
                >
            <g>
                <g id="_x32__26_">
                    <g>
                        <path
                    d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
                c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
                c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
                S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
                l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
                M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
                c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z"
                />
            </g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>
            <span class="likes">{{ post.comment.length }}</span>
            <span class="view" (click)="onViewReaction(post.id)"><i class="fa fa-eye" aria-hidden="true"></i></span>
            <span class="subjects d-none d-sm-block" *ngIf="post.subject.length > 0"> &nbsp; &nbsp; | &nbsp; &nbsp; {{ post.subject | titlecase }}</span>
            <div class="share-post">
                <share-buttons [show]="5" [include]="['facebook','twitter','linkedin','pinterest','reddit','copy']" [url]="baseurl + '/#/post/' + post.id"></share-buttons>
                <button type="button" #shareBtn (click)="toggleShareGroup(shareBtn)" class="post-action-btn share-btn" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
              </div>
        </div>
        <div class="comment-box">
            <div class="inner-box">
                <div class="comment-row" *ngFor="let item of post.comment">
                    <div class="user">
                        <img [src]="item.profile_img == null ? userAvatar : profilePath + item.profile_img" alt="user">
                        <div class="name">
                            <h6>{{ item.username }}</h6>
                            <p class="comment">{{ item.comment }}</p>
                        </div>
                    </div>
                    <div class="follow_ftr">
                        <div class="action-btn">
                            <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isCommentLiked(item.reactionType) }" #likeBtn (click)="onLikeComment(post.id, item.commentID, commentLikeType ? commentLikeType : getCommentLikeType(item.reactionType), likeBtn)">
                                <img [src]="checkCommentLikeType(item.reactionType)" alt="icon" />
                            </button>
                            <div class="follow_ftr react-btn-grp">
                                <button type="button" (click)="onLikeComment(post.id, item.commentID, 0, likeBtn)">
                                    <img src="assets/images/icons/like_icon.png" alt="icon" />
                                </button>
                                <button type="button" (click)="onLikeComment(post.id, item.commentID, 1, likeBtn)">
                                    <img src="assets/images/icons/lightbulb.png" alt="icon" />
                                </button>
                                <button type="button" (click)="onLikeComment(post.id, item.commentID, 2, likeBtn)">
                                    <img src="assets/images/icons/clap.png" alt="icon" />
                                </button>
                                <button type="button" (click)="onLikeComment(post.id, item.commentID, 3, likeBtn)">
                                    <img src="assets/images/icons/like.png" alt="icon" />
                                </button>
                            </div>
                        </div>
                        <span class="likes">{{ item.reactionType.length }}</span>
                        <span class="view" (click)="onViewCommentReaction(item.commentID)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="date">&nbsp; &nbsp; | &nbsp; &nbsp; {{ item.created | postCreated }}</span>
                        <button class="dlt-btn" [hidden]="item.user_id !== loggedUser.id" (click)="onDeleteComment(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <p class="no-comment" *ngIf="post.comment.length == 0">Be the first to comment!</p>
            <form class="write-comment" (submit)="onCommentOnPost(post.id, cmntForm)" #cmntForm="ngForm">
                <input placeholder="Write your comment here..." type="text" name="comment" required ngModel>
                <button type="submit" [disabled]="!cmntForm.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>

<ng-template #viewReactions>
  <div class="modal_tanito">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal_body_top">
                <h5>{{ reactionModalTitle }}</h5>
              </div>
              <mat-tab-group>
                  <mat-tab>
                      <ng-template mat-tab-label>
                          All
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ totalUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of totalUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>

                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/ok.png" alt="reaction">
                          <span class="badge badge-primary ml-" *ngIf="reactionFetched">{{ okUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of okUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
                  
                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/lightbulb.png" alt="reaction"> 
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ innUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of innUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
                  
                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/clap.png" alt="reaction">
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ clapUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of clapUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>

                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/like.png" alt="reaction">
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ goodUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of goodUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div>
  </div>
</ng-template>

<div *ngIf="userData.data.user_post_data.length == 0" class="custom_card custom_crd_padd">
    <h5>{{ userData.data.results.username }} did not post anything yet!</h5>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
