<div *ngIf="userData.data.user_post_data.length > 0">
    <div class="custom_card custom_crd_padd" *ngFor="let post of userData.data.user_post_data | recentPost">
        <div class="follow_top d-flex align-items-center">
          <div class="follow_lft"> <img class="profile-img" [src]="profilePath + userData.data.results.profile_img" [alt]="userData.data.results.username" />  </div>
          <div class="follow_rht">
            <div class="d-flex align-items-center">
              <h3>{{ userData.data.results.username }}</h3>
              <img class="user-type" [src]="userData.data.results.usertype == 3 ? studentIcon : teacherIcon" alt="user type">
            </div>
            <p>{{ (userData.data.results.usertype == 3 ? "Student at ":"Teacher at ") +  userData.data.results.university }} &nbsp; | &nbsp; {{ post.created | postCreated }}</p>
          </div>
        </div>
        <div class="follow_bdy">
          <p> {{ post.body }} </p>
          <img *ngIf="post.image.length > 0" class="post-img" [src]="imageDirPath + post.image">
        </div>
        <div class="follow_ftr">
            <div class="action-btn">
                <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isPostLiked(post.likes) }" #likeBtn (click)="onLikePost(post.id, likeType ? likeType : getLikeType(post.likes), likeBtn)">
                    <img [src]="checkLikeType(post.likes)" alt="icon" />
                </button>
                <div class="follow_ftr react-btn-grp">
                    <button type="button" (click)="onLikePost(post.id, 0, likeBtn)">
                        <img src="assets/images/icons/like_icon.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 1, likeBtn)">
                        <img src="assets/images/icons/lightbulb.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 2, likeBtn)">
                        <img src="assets/images/icons/clap.png" alt="icon" />
                    </button>
                    <button type="button" (click)="onLikePost(post.id, 3, likeBtn)">
                        <img src="assets/images/icons/like.png" alt="icon" />
                    </button>
                </div>
            </div>
            <span class="likes">{{ post.likes.length }}</span>
            <span class="view" (click)="onViewReaction(post.id)"><i class="fa fa-eye" aria-hidden="true"></i> View Reactions</span>
            <div class="share-post">
                <share-buttons [show]="5" [include]="['facebook','twitter','linkedin','pinterest','reddit','copy']" [url]="baseurl + '/#/post/' + post.id"></share-buttons>
                <button type="button" #shareBtn (click)="toggleShareGroup(shareBtn)" class="post-action-btn share-btn" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
              </div>
        </div>
    </div>
</div>

<ng-template #viewReactions>
  <div class="modal_tanito">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal_body_top">
                  <h5>REACTIONS</h5>
              </div>
              <mat-tab-group>
                  <mat-tab>
                      <ng-template mat-tab-label>
                          All
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ totalUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of totalUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>

                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/ok.png" alt="reaction">
                          <span class="badge badge-primary ml-" *ngIf="reactionFetched">{{ okUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of okUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
                  
                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/lightbulb.png" alt="reaction"> 
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ innUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of innUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
                  
                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/clap.png" alt="reaction">
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ clapUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of clapUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>

                  <mat-tab>
                      <ng-template mat-tab-label>
                          <img src="assets/images/icons/like.png" alt="reaction">
                          <span class="badge badge-primary" *ngIf="reactionFetched">{{ goodUserReaction.length }}</span>
                      </ng-template>
                      <div class="d-flex align-items-center mb-4" *ngFor="let user of goodUserReaction">
                          <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                          <h5>{{ user.username }}</h5>
                      </div>
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div>
  </div>
</ng-template>

<div *ngIf="userData.data.user_post_data.length == 0" class="custom_card custom_crd_padd">
    <h5>{{ userData.data.results.username }} did not post anything yet!</h5>
</div>
