.page-not-found {
    padding: 150px 0;
    @media screen and (max-width: 575px){
        padding: 100px 0;
    }
    .inner-wrap {
        text-align: center;
        .img-wrap {
            img {
                width: 150px;
                @media screen and (max-width: 575px){
                    width: 100px;
                }
            }
        }
        .content-wrap {
            p {
                a {
                    
                }
            }
            h4 {
                margin: 30px 0;
                @media screen and (max-width: 575px){
                    margin-bottom: 20px;
                }
            }
        }       
    }
}