<section class="page-not-found">
    <div class="container">
        <div class="inner-wrap">
            <div class="img-wrap">
                <img src="../../../assets/images/404.svg" alt="404">
            </div>
            <div class="content-wrap">
                <h4>Page not found</h4>
                <p>The page you are looking for does'nt exist or an other error occured. <br> Go back or head over to <a href="#" routerLink="/">home</a> to choose a new direction.</p>
            </div>
        </div>
    </div>
</section>