<section class="student_timeline student_sec" *ngIf="user">
    <div class="container">
        <div class="student_inr">
            <div class="user_info_banner custom_card">
                <div class="user_info_top"></div>
                <div class="user_info_btm">
                    <div class="row border_btm">
                        <div class="col-md-2">
                            <div class="profile_img"><img [src]="user.data.urlkey + user.data.results.profile_img" [alt]="user.data.results.username" /></div>
                        </div>
                        <div class="col-md-10 pl-0">
                            <h2>
                                {{ user.data.results.username }} <span class="tag_img"><img class="user-type" [src]="user.data.results.usertype == 3 ? teacherIcon : studentIcon" alt="user type"></span>
                            </h2>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="user_contact_info">
                                        <a>{{ user.data.results.email }}</a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                            dolores et ea rebum.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="users_followrs_dt">
                                        <ul class="d-flex align-items-center">
                                            <li><img src="assets/images/icons/users_gray.png" alt="user" /> {{ user.data.count_follower }}</li>
                                            <li><img src="assets/images/icons/user_check.png" alt="user" /> {{ user.data.count_following }}</li>
                                        </ul>
                                        <button type="button" class="message_btn purple_btn">Message</button>
                                        <button type="button" (click)="onFollowUser()" class="follow_btn purple_btn">{{ followed == true ? "Unfollow":"Follow" }}</button>
                                        <button type="button" class="report_btn purple_btn">Report Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- student timeline left -->
                <div class="col-md-4 col-lg-3">
                    <div class="student_lft">
                        <div class="custom_card sideMenu_box">
                            <ul>
                                <li>
                                    <a href="#" routerLink="/feed"> <img src="assets/images/icons/home.png" alt="home" /> Home </a>
                                </li>
                                <li>
                                    <a href="#" routerLink="/feed/network"> <img src="assets/images/icons/users.png" alt="user" /> My Network </a>
                                </li>
                                <li>
                                    <a href="#" routerLink="/feed/inbox"> <img src="assets/images/icons/message.png" alt="message" /> Messages </a>
                                </li>
                            </ul>
                        </div>
                        <div class="custom_card intro_box">
                            <h4><img src="assets/images/icons/earth-globe.png" alt="icon" /> Intro</h4>
                            <ul>
                                <li><img src="assets/images/icons/graduated.png" alt="graduate" />{{ user.data.results.qualification }}</li>
                                <li><img src="assets/images/icons/graduation-hat.png" alt="graduation hat" />{{ user.data.results.university }}</li>
                                <!-- <li><img src="assets/images/icons/calendar.png" alt="calendar" />Date of Birth</li> -->
                                <li><img src="assets/images/icons/clock.png" alt="clock" />Joined on {{ user.data.results.created | datefilter }}</li>
                                <li><img src="assets/images/icons/gender.png" alt="gender" />{{ user.data.results.gender | titlecase }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="student_rht pr-0">
                        <app-user-timeline [userData]="user"></app-user-timeline>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>