<section class="student_timeline student_sec" *ngIf="user">
    <div class="container">
        <div class="student_inr">
            <div class="user_info_banner custom_card">
                <div class="user_info_top"></div>
                <div class="user_info_btm">
                    <div class="row border_btm">
                        <div class="col-md-2">
                            <div class="profile_img"><img [src]="user.data.results.profile_img " [alt]="user.data.results.username" /></div>
                        </div>
                        <div class="col-md-10 pl-0">
                            <h2>
                                {{ user.data.results.username }} <span class="tag_img"><img class="user-type" [src]="user.data.results.usertype == 3 ? studentIcon : teacherIcon" alt="user type"></span>
                            </h2>
                            <div class="row mt-0 mt-sm-3">
                                <div class="col-md-6">
                                    <div class="user_contact_info">
                                        <a>{{ user.data.results.email }}</a>
                                        <p [ngClass]="{'text-full': showFullText}">{{ user.data.results.description }}</p>
                                        <a [hidden]="user.data.results.description.length < 200" (click)="showFullText = !showFullText"> {{ showFullText ? '..Read Less' : 'Read More..' }} </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="users_followrs_dt">
                                        <ul class="d-flex align-items-center">
                                            <li><img src="assets/images/icons/users_gray.png" alt="user" /> {{ user.data.count_follower }}</li>
                                            <li><img src="assets/images/icons/user_check.png" alt="user" /> {{ user.data.count_following }}</li>
                                        </ul>
                                        <button type="button" (click)="goToRoom()" [hidden]="user.data.results.usertype == 0" class="message_btn purple_btn">Message</button>
                                        <button type="button" (click)="onFollowUser()" class="follow_btn purple_btn">{{ followed == true ? "Unfollow":"Follow" }}</button>
                                        <button type="button" (click)="reportModal()" class="report_btn purple_btn">Report Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- student timeline left -->
                <div class="col-md-4 col-lg-3">
                    <div class="student_lft">
                        <div class="custom_card sideMenu_box">
                            <ul>
                                <li>
                                    <a href="#" routerLink="/feed"> <img src="assets/images/icons/home.png" alt="home" /> Home </a>
                                </li>
                                <li>
                                    <a href="#" routerLink="/feed/network"> <img src="assets/images/icons/users.png" alt="user" /> My Network </a>
                                </li>
                                <li>
                                    <a [routerLink]="myInbox.defaultChatroom == 0 ? '/feed/inbox' : '/feed/inbox/'+ myInbox.defaultChatroom" routerLinkActive="active"> 
                                        <img src="assets/images/icons/message.png" alt="message">
                                        Messages <span class="badge badge-danger" [hidden]="myInbox.newMsgs == 0">{{ myInbox.newMsgs }}</span>
                                    </a>
                                  </li>
                            </ul>
                        </div>
                        <div class="custom_card intro_box">
                            <h4><img src="assets/images/icons/earth-globe.png" alt="icon" /> Intro</h4>
                            <ul>
                                <li><img src="assets/images/icons/graduated.png" alt="graduate" />{{ user.data.results.qualification | uppercase}}</li>
                                <li><img src="assets/images/icons/graduation-hat.png" alt="graduation hat" />{{ user.data.results.university | titlecase }}</li>
                                <li [hidden]="user.data.results.usertype == 3"><img src="assets/images/icons/work.svg" alt="work" />{{ user.data.results.experience + ' Year' | titlecase }}</li>
                                <li><img src="assets/images/icons/clock.png" alt="clock" />Joined on {{ user.data.results.created | datefilter }}</li>
                                <li><img src="assets/images/icons/gender.png" alt="gender" />{{ user.data.results.gender | titlecase }}</li>
                            </ul>
                        </div>
                        <div class="custom_card intro_box" *ngIf="user.data.results.video.length > 0">
                           <h4><img src="assets/images/icons/earth-globe.png" alt="icon" /> Intro Video</h4>
                           <plyr plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: teacherVideoPath + user.data.results.video }]"></plyr>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="student_rht pr-0">
                        <app-user-timeline [userData]="user"></app-user-timeline>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #reportProfile>
    <div class="modal_tanito report_modal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase">Report Profile</h5>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-check" *ngFor="let reason of reportReason; let i = index">
                    <input class="form-check-input" (change)="selectedReason = reason" type="radio" name="reason" id="{{ 'reason' + - + i }}">
                    <label class="form-check-label" for="{{ 'reason' + - + i }}">
                      <h6>{{ reason }}</h6>
                    </label>
                </div>
                <textarea [(ngModel)]="specifiedReason"name="message" placeholder="Type your message.."></textarea>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                <div class="button_box d-flex align-items-center justify-content-center">
                  <a href="index.php" class="back_to_home_btn mr-2">Back to Home</a>  
                  <button (click)="onReportProfile()" type="button" class="ml-2">Submit</button>  
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</ng-template>
  

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>