<div class="row">
    <div class="col-md-3">
      <div class="testi-content text-center"> <img src="assets/images/testimonial/ellipse1.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
        <h5 class="mt-4 mb-4">Vida Dupree &nbsp;</h5>
        <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
        <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
        <a href="#" class="btn-sm btn_primary"> Remove</a> </div>
    </div>
    <div class="col-md-3">
      <div class="testi-content  text-center"> <img src="assets/images/testimonial/ellipse2.png" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
        <h5 class="mt-4 mb-4">Vida Dupree &nbsp;</h5>
        <p class="mb-4">Lorem ipsum dolor sit amet, consetetur</p>
        <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
        <a href="#" class="btn-sm btn_primary"> Remove</a> </div>
    </div>
  </div>
  <button type="button" class="see_all_btn">See all</button>