<div class="row">
  <div class="col-md-3" *ngFor="let follower of followers">
    <div class="testi-content text-center"> <img [src]="path + follower.profile_img" alt="" class="img-fluid mx-auto d-block rounded-circle user-img">
      <h5 class="mt-4 mb-4">{{ follower.username }} &nbsp;</h5>
      <p class="mb-4">{{ (follower.usertype == 3 ? 'Teacher at ':'Student at ') + follower.university }}</p>
      <p class="mb-4"> <img src="assets/images/icons/arrow.svg" alt="arrow icon" class="arrow_img"> 4 Total networks</p>
      <!-- <a class="btn-sm btn_primary"> Remove</a> </div> -->
  </div>
</div>

<h5 *ngIf="followers.length == 0">You don't have any follower!</h5>

