 <div class="student_rht">
    <div
    infiniteScroll 
    (scrolled)="onScroll()"
    #feedBlock>
        <div class="custom_card media_card" routerLink="/myProfile" [queryParams]="{ post: 'create' }">
            <div class="tabs_wraper">
                <ul>
                    <li class="active" data-item="write-something"><img src="assets/images/icons/edit_icon.png" alt="edit">Write a Feed</li>
                </ul>
            </div>
            <div class="text_box" id="write-something">
                <textarea placeholder="Write Something.." id="writeSomething"></textarea>
            </div>
            <div class="upload_media media_box" id="upload-img">
                <input type="file" id="upload_img" class="d-none">
                <label for="upload_img">
                    <img src="assets/images/icons/uploadImg.png" alt="image">
                    Upload image
                </label>
            </div>
            <div class="upload_media media_box" id="upload-video">
                <input type="file" id="upload_vid" class="d-none">
                <label for="upload_vid">
                    <img src="assets/images/icons/upload_video.png" alt="video" class="mb-2">
                    Upload video
                </label>
            </div>
            <div class="custom_card_ftr">
                <p><span>Put a Question or Post</span>  on tanito</p>
                <p><span id="charCount">0</span>/2000</p>
            </div>
        </div>
        <div class="custom_card custom_crd_padd" *ngIf="feeds.length == 0 && query">
            <h5>No Post Found!</h5>
        </div>
        <div class="custom_card custom_crd_padd feeds" *ngFor="let feed of feeds | shuffleFeeds">
            <div class="follow_top d-flex align-items-center">
                <div class="follow_lft">
                    <img [routerLink]="feed.user_id == loggedUser.id ? '/myProfile' : '/user/'+feed.user_id" class="profile-img" [src]="feed.profile_img == null ? userAvatar : profilePath + feed.profile_img" [alt]="feed.username">
                </div>
                <div class="follow_rht">
                    <div class="d-flex align-items-center">
                        <h3 [routerLink]="feed.user_id == loggedUser.id ? '/myProfile' : '/user/'+feed.user_id">{{ feed.username }}</h3>
                        <img class="user-type" [src]="feed.usertype == 3 ? studentIcon : teacherIcon " alt="user type">
                    </div>
                    <p *ngIf="feed.usertype == 0">Promoted Post | <span>{{ feed.created | postCreated }}</span></p>
                    <p *ngIf="feed.usertype != 0">{{ (feed.usertype == 3 ? "Student at ":"Teacher at ") +  feed.university }} &nbsp; | <span>{{ feed.created | postCreated }}</span></p>
                </div>
                <div class="option">
                    <button type="button" class="dots_btn" appShowMenu><img src="assets/images/icons/dots.png" alt="dots"></button>
                    <div class="dropdown-menu report my_account_dropmenu">
                        <ul>
                            <li><a (click)="reportModal(feed.id)">Report Post</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="follow_bdy">
                <p class="content-body" [ngClass]="{'clipped': feed.body.length > 500 }"> {{ feed.body }} </p>
                <a class="read-more-link" [hidden]="feed.body.length < 500" appToggleContent>Read More...</a>
                <ul [hidden]="feed.tags.length == 0" class="hashtags">
                    <li *ngFor="let tag of feed.tags.split(',')">#{{ tag | lowercase }}</li>
                </ul>
                <img *ngIf="feed.image.length > 0" class="post-img" [src]="imageDirPath + feed.image">
                <plyr *ngIf="feed.video.length > 0" style="display: block; max-width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: videoDirPath + feed.video }]"></plyr>
                </div>
                <p class="subject d-block d-sm-none" [hidden]="feed.subject.length == 0"> {{ feed.subject | titlecase }}</p>
                <div class="follow_ftr">
                    <div class="action-btn">
                        <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isPostLiked(feed.likes) }" #likeBtn (click)="onLikePost(feed.id, likeType ? likeType : getLikeType(feed.likes), likeBtn, feed)">
                            <img [src]="checkLikeType(feed.likes)" alt="icon" />
                        </button>
                        <div class="follow_ftr react-btn-grp">
                            <button type="button" (click)="onLikePost(feed.id, 0, likeBtn, feed)">
                                <img src="assets/images/icons/like_icon.png" alt="icon" />
                            </button>
                            <button type="button" (click)="onLikePost(feed.id, 1, likeBtn, feed)">
                                <img src="assets/images/icons/lightbulb.png" alt="icon" />
                            </button>
                            <button type="button" (click)="onLikePost(feed.id, 2, likeBtn, feed)">
                                <img src="assets/images/icons/clap.png" alt="icon" />
                            </button>
                            <button type="button" (click)="onLikePost(feed.id, 3, likeBtn, feed)">
                                <img src="assets/images/icons/like.png" alt="icon" />
                            </button>
                        </div>
                    </div>
                    <span class="likes">{{ feed.likes.length }}</span>
                    <svg
                        version="1.1"
                        fill="#474747"
                        id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="612px"
                        height="612px"
                        viewBox="0 0 612 612"
                        style="enable-background: new 0 0 612 612;"
                        xml:space="preserve"
                        class="comment"
                        appShowCommentBox
                        >
                    <g>
                        <g id="_x32__26_">
                            <g>
                                <path
                            d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
                        c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
                        c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
                        S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
                        l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
                        M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
                        c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z"
                        />
                    </g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                    <span class="likes">{{ feed.comment.length }}</span>
                    <span class="view" (click)="onViewReaction(feed.id)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span class="subjects d-none d-sm-block" *ngIf="feed.subject.length > 0"> &nbsp; &nbsp; | &nbsp; &nbsp; {{ feed.subject | titlecase }}</span>
                    <div class="share-post">
                        <share-buttons [show]="5" [include]="['facebook','twitter','linkedin','pinterest','reddit','copy']" [url]="baseurl + '/#/post/' + feed.id"></share-buttons>
                        <button type="button" #shareBtn (click)="toggleShareGroup(shareBtn)" class="post-action-btn share-btn" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
                    </div>
                </div>
                <div class="comment-box">
                    <div class="inner-box">
                        <div class="comment-row" *ngFor="let item of feed.comment">
                            <div class="user">
                                <img [src]="item.profile_img == null ? userAvatar : profilePath + item.profile_img" alt="user">
                                <div class="name">
                                    <h6>{{ item.username }}</h6>
                                    <p class="comment">{{ item.comment }}</p>
                                </div>
                            </div>
                            <div class="follow_ftr">
                                <div class="action-btn">
                                    <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isCommentLiked(item.reactionType) }" #likeBtn (click)="onLikeComment(feed.id, item, commentLikeType ? commentLikeType : getCommentLikeType(item.reactionType), likeBtn)">
                                        <img [src]="checkCommentLikeType(item.reactionType)" alt="icon" />
                                    </button>
                                    <div class="follow_ftr react-btn-grp">
                                        <button type="button" (click)="onLikeComment(feed.id, item, 0, likeBtn)">
                                            <img src="assets/images/icons/like_icon.png" alt="icon" />
                                        </button>
                                        <button type="button" (click)="onLikeComment(feed.id, item, 1, likeBtn)">
                                            <img src="assets/images/icons/lightbulb.png" alt="icon" />
                                        </button>
                                        <button type="button" (click)="onLikeComment(feed.id, item, 2, likeBtn)">
                                            <img src="assets/images/icons/clap.png" alt="icon" />
                                        </button>
                                        <button type="button" (click)="onLikeComment(feed.id, item, 3, likeBtn)">
                                            <img src="assets/images/icons/like.png" alt="icon" />
                                        </button>
                                    </div>
                                </div>
                                <span class="likes">{{ item.reactionType.length }}</span>
                                <span class="view" (click)="onViewCommentReaction(item.commentID)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                <span class="date">&nbsp; &nbsp; | &nbsp; &nbsp; {{ item.created | postCreated }}</span>
                                <button class="dlt-btn" [hidden]="item.user_id !== loggedUser.id && feed.user_id !== loggedUser.id" (click)="onDeleteComment(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <p class="no-comment" *ngIf="feed.comment.length == 0">Be the first to comment!</p>
                    <form class="write-comment" (submit)="onCommentOnPost(feed, cmntForm)" #cmntForm="ngForm">
                        <input placeholder="Write your comment here..." type="text" name="comment" required ngModel>
                        <button type="submit" [disabled]="!cmntForm.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                </div>
        </div>
    </div>
    <div *ngIf="feeds.length == 0 && !query">
        <app-users></app-users>
    </div>
</div>

<ng-template #viewReactions>
    <div class="modal_tanito">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal_body_top">
                    <h5>{{ reactionModalTitle }}</h5>
                </div>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            All
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ totalUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of totalUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/ok.png" alt="reaction">
                            <span class="badge badge-primary ml-" *ngIf="reactionFetched">{{ okUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of okUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/lightbulb.png" alt="reaction"> 
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ innUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of innUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/clap.png" alt="reaction">
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ clapUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of clapUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/like.png" alt="reaction">
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ goodUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of goodUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #reportPost>
    <div class="modal_tanito report_modal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase">Report Post</h5>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-check" *ngFor="let reason of reportReason; let i = index">
                    <input class="form-check-input" (change)="selectedReason = reason" type="radio" name="reason" id="{{ 'reason' + - + i }}">
                    <label class="form-check-label" for="{{ 'reason' + - + i }}">
                      <h6>{{ reason }}</h6>
                    </label>
                </div>
                <textarea [(ngModel)]="specifiedReason"name="message" placeholder="Type your message.."></textarea>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                <div class="button_box d-flex align-items-center justify-content-center">
                  <a href="index.php" class="back_to_home_btn mr-2">Back to Home</a>  
                  <button (click)="onReportProfile()" type="button" class="ml-2">Submit</button>  
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</ng-template>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>