 <div class="student_rht">
    <div class="custom_card media_card" routerLink="/myProfile" [queryParams]="{ post: 'create' }">
        <div class="tabs_wraper">
            <ul>
            <li class="active" data-item="write-something"><img src="assets/images/icons/edit_icon.png" alt="edit">Write a Feed</li>
            <li data-item="upload-img"><img src="assets/images/icons/image_icon.png" alt="edit">Upload a Photo</li>
            <li data-item="upload-video"><img src="assets/images/icons/video_icon.png" alt="edit">Upload Video</li>
            </ul>
        </div>
        <div class="text_box" id="write-something">
            <textarea placeholder="Write Something.." id="writeSomething"></textarea>
        </div>
        <div class="upload_media media_box" id="upload-img">
            <input type="file" id="upload_img" class="d-none">
            <label for="upload_img">
                <img src="assets/images/icons/uploadImg.png" alt="image">
                Upload image
            </label>
        </div>
        <div class="upload_media media_box" id="upload-video">
            <input type="file" id="upload_vid" class="d-none">
            <label for="upload_vid">
                <img src="assets/images/icons/upload_video.png" alt="video" class="mb-2">
                Upload video
            </label>
        </div>
        <div class="custom_card_ftr">
            <p><span>Write a Question</span>  on tanito</p>
            <p><span id="charCount">0</span>/2000</p>
        </div>
    </div>
    <div #feedBlock>
        <div class="custom_card custom_crd_padd" *ngFor="let feed of feeds | shuffleFeeds">
            <div class="follow_top d-flex align-items-center">
                <div class="follow_lft">
                    <img [routerLink]="'/user/'+ feed.user_id" class="profile-img" [src]="feed.profile_img == null ? userAvatar : profilePath + feed.profile_img" [alt]="feed.username">
                </div>
                <div class="follow_rht">
                    <div class="d-flex align-items-center">
                        <h3 [routerLink]="'/user/'+feed.user_id">{{ feed.username }}</h3>
                        <img class="user-type" [src]="feed.usertype == 3 ? studentIcon : teacherIcon " alt="user type">
                    </div>
                    <p>{{ (feed.usertype == 3 ? "Teacher at ":"Student at ") +  feed.university }} &nbsp; | <span>{{ feed.created | postCreated }}</span></p>
                </div>
                <!-- <button type="button" class="dots_btn" data-toggle="modal" data-target="#rate_mdl"><img src="assets/images/icons/dots.png" alt="dots"></button> -->
            </div>
            <div class="follow_bdy">
                <p> {{ feed.body }} </p>
                <ul [hidden]="feed.tags.length == 0" class="hashtags">
                    <li *ngFor="let tag of feed.tags.split(',')">#{{ tag | lowercase }}</li>
                </ul>
                <img *ngIf="feed.image.length > 0" class="post-img" [src]="imageDirPath + feed.image">
                <plyr *ngIf="feed.video.length > 0" style="display: block; width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: videoDirPath + feed.video }]"></plyr>
              </div>
              <div class="follow_ftr">
                <div class="action-btn">
                    <button type="button" class="post-action-btn" [ngClass]="{ 'liked': isPostLiked(feed.likes) }" #likeBtn (click)="onLikePost(feed.id, likeType ? likeType : getLikeType(feed.likes), likeBtn, feed)">
                        <img [src]="checkLikeType(feed.likes)" alt="icon" />
                    </button>
                    <div class="follow_ftr react-btn-grp">
                        <button type="button" (click)="onLikePost(feed.id, 0, likeBtn, feed)">
                            <img src="assets/images/icons/like_icon.png" alt="icon" />
                        </button>
                        <button type="button" (click)="onLikePost(feed.id, 1, likeBtn, feed)">
                            <img src="assets/images/icons/lightbulb.png" alt="icon" />
                        </button>
                        <button type="button" (click)="onLikePost(feed.id, 2, likeBtn, feed)">
                            <img src="assets/images/icons/clap.png" alt="icon" />
                        </button>
                        <button type="button" (click)="onLikePost(feed.id, 3, likeBtn, feed)">
                            <img src="assets/images/icons/like.png" alt="icon" />
                        </button>
                    </div>
                </div>
                <span class="likes">{{ feed.likes.length }}</span>
                <span class="view" (click)="onViewReaction(feed.id)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                <span class="subjects" [hidden]="feed.subject.length == 0"> &nbsp; &nbsp; | &nbsp; &nbsp; {{ feed.subject | titlecase }}</span>
                <button type="button" class="post-action-btn share-btn" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
              </div>
        </div>
    </div>
    <div class="custom_card custom_crd_padd" *ngIf="feeds.length == 0 && query">
        <h5>No Post Found!</h5>
    </div>
    <div *ngIf="feeds.length == 0 && !query">
        <app-users></app-users>
    </div>
</div>

<ng-template #viewReactions>
    <div class="modal_tanito">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal_body_top">
                    <h5>REACTIONS</h5>
                </div>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            All
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ totalUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of totalUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/ok.png" alt="reaction">
                            <span class="badge badge-primary ml-" *ngIf="reactionFetched">{{ okUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of okUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/lightbulb.png" alt="reaction"> 
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ innUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of innUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/clap.png" alt="reaction">
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ clapUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of clapUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="assets/images/icons/like.png" alt="reaction">
                            <span class="badge badge-primary" *ngIf="reactionFetched">{{ goodUserReaction.length }}</span>
                        </ng-template>
                        <div class="d-flex align-items-center mb-4" *ngFor="let user of goodUserReaction">
                            <span class="profile_dp"><img [src]="profilePath + user.profile_img" [alt]="user.username"></span>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</ng-template>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>