 <div class="student_rht">
    <div class="custom_card media_card">
        <div class="tabs_wraper">
            <ul>
            <li class="active" data-item="write-something"><img src="assets/images/icons/edit_icon.png" alt="edit">Write a Feed</li>
            <li data-item="upload-img"><img src="assets/images/icons/image_icon.png" alt="edit">Upload a Photo</li>
            <li data-item="upload-video"><img src="assets/images/icons/video_icon.png" alt="edit">Upload Video</li>
            </ul>
        </div>
        <div class="text_box" id="write-something">
            <textarea placeholder="Write Something.." id="writeSomething"></textarea>
        </div>
        <div class="upload_media media_box" id="upload-img">
            <input type="file" id="upload_img" class="d-none">
            <label for="upload_img">
                <img src="assets/images/icons/uploadImg.png" alt="image">
                Upload image
            </label>
        </div>
        <div class="upload_media media_box" id="upload-video">
            <input type="file" id="upload_vid" class="d-none">
            <label for="upload_vid">
            <img src="assets/images/icons/upload_video.png" alt="video" class="mb-2">
            Upload video
            </label>
        </div>
        <div class="custom_card_ftr">
            <p><span>Write an Question</span>  on tanito</p>
            <p><span id="charCount">0</span>/2000</p>
        </div>
    </div>
    <div class="custom_card custom_crd_padd" *ngFor="let feed of feeds | shuffleFeeds">
        <div class="follow_top d-flex align-items-center">
            <div class="follow_lft">
                <img class="profile-img" [src]="feed.profile" [alt]="feed.username">
            </div>
            <div class="follow_rht">
                <div class="d-flex align-items-center">
                    <h3>{{ feed.username }}</h3>
                    <img class="user-type" [src]="feed.usertype == 3 ? teacherIcon : studentIcon" alt="user type">
                </div>
                <p>{{ (feed.usertype == 3 ? "Teacher at ":"Student at ") +  feed.university }} &nbsp; | &nbsp; {{ feed.post.created | postCreated }}</p>
            </div>
            <button type="button" class="dots_btn" data-toggle="modal" data-target="#rate_mdl"><img src="assets/images/icons/dots.png" alt="dots"></button>
        </div>
        <div class="follow_bdy">
            <p> {{ feed.post.body }} </p>
            <img *ngIf="feed.post.image.length > 0" class="post-img" [src]="imageDirPath + feed.post.image">
            <plyr *ngIf="feed.post.video.length > 0" style="display: block; width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: videoDirPath + feed.post.video }]"></plyr>
          </div>
          <div class="follow_ftr">
            <button type="button" data-toggle="modal" data-target="#reaction_mdl"><img src="assets/images/icons/like_icon.png" alt="icon" /></button>
            <button type="button" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
          </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>