.mat-tab-body-content {
    height: 450px !important;
    overflow: scroll;
    padding: 25px;
}
.mat-tab-label-content {
    .badge {
        margin-left: 5px;
        background: #514DC5;
    }
    img {
        height: 28px;
    }
}

.hashtags {
    li {
        display: inline-block;
        margin-right: 10px;
        color: #007bff;
    }
}

.share-post {
    position: relative;
    margin-left: auto;
    share-buttons {
        position: absolute;
        bottom: 45px;
        right: -3px;
        display: none;
        &.show {
            display: block;
        }
    }
}

.subject {
    font-size: 14px;
    word-break: break-word;
}

.viewport {
    height: 1000px;
}

// .feeds {
//     height: 50px;
// }