<section class="student_timeline student_sec">
    <div class="container">
      <div class="student_inr">
        <div class="user_info_banner custom_card">
          <div class="user_info_top"></div>
          <div class="user_info_btm pb-0">
            <div class="row border_btm">
              <div class="col-md-2">
                <div class="profile_img">
                  <img [src]="user.profile_img.length > 0 ? profilePath + user.profile_img : userAvatar" alt="user image">
                </div>
              </div>
              <div class="col-md-10 pl-0">
                <h2> {{ user.username }} <span class="tag_img"><img class="user-type" [src]="user.usertype == 3 ? studentIcon : teacherIcon" alt="user type"></span> </h2>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="user_contact_info"> <a href="#">{{ user.email }}</a>
                      <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="users_followrs_dt">
                      <div class="dropdown text-right">
                        <button type="button" routerLink="/profile-setup" class="purple_btn" data-toggle="dropdown"> Edit Profile </button>
                        <button type="button" routerLink="/feed/my-plans" class="purple_btn more_btn">More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user_info_ftr">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center justify-content-center border_right"> <img src="assets/images/icons/users_gray.png" alt="user"> <span>{{ user.count_follower }}</span> </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center"> <img src="assets/images/icons/user_check.png" alt="user"> <span>{{ user.count_following }}</span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"> 
          <!-- student timeline left -->
          <div class="col-md-4 col-lg-3">
            <div class="student_lft">
              <div class="custom_card sideMenu_box">
                <ul>
                  <li> <a href="#" routerLink="/feed"> <img src="assets/images/icons/home.png" alt="home" /> Home </a> </li>
                  <li> <a href="#" routerLink="/feed/network"> <img src="assets/images/icons/users.png" alt="user" /> My Network </a> </li>
                  <li>
                    <a [routerLink]="myInbox.defaultChatroom == 0 ? '/feed/inbox' : '/feed/inbox/'+ myInbox.defaultChatroom" routerLinkActive="active"> 
                        <img src="assets/images/icons/message.png" alt="message">
                        Messages <span class="badge badge-danger" [hidden]="myInbox.newMsgs == 0">{{ myInbox.newMsgs }}</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="my-plans">
                      <img src="assets/images/icons/premium.svg" alt="plans">
                        My Plans
                    </a>
                  </li>
                </ul>
              </div>
              <div class="custom_card intro_box">
                <h4><img src="assets/images/icons/earth-globe.png" alt="icon" /> Intro</h4>
                <ul>
                    <li><img src="assets/images/icons/graduated.png" alt="graduate" />{{ user.qualification | uppercase }}</li>
                    <li><img src="assets/images/icons/graduation-hat.png" alt="graduation hat" />{{ user.university | titlecase }}</li>
                    <li><img src="assets/images/icons/work.svg" alt="work" />{{ user.experience + " Year" | titlecase }}</li>
                    <li><img src="assets/images/icons/clock.png" alt="clock" />Joined on {{ user.created | datefilter }}</li>
                    <li><img src="assets/images/icons/gender.png" alt="gender" />{{ user.gender | titlecase }}</li>
                </ul>
              </div>
              <div class="custom_card intro_box" *ngIf="user.video.length > 0">
                <h4><img src="assets/images/icons/earth-globe.png" alt="icon" /> Intro Video</h4>
                <plyr plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: teacherVideoPath + user.video }]"></plyr>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="student_rht pr-0">
              <div class="custom_card media_card" #timeline>
                <div class="tabs_wraper">
                  <ul>
                    <li class="active" data-item="write-something"><img src="assets/images/icons/edit_icon.png" alt="edit" />Write a post</li>
                    <!-- <li data-item="upload-img"><img src="assets/images/icons/image_icon.png" alt="edit" />Upload a Photo</li>
                    <li data-item="upload-video"><img src="assets/images/icons/video_icon.png" alt="edit" />Upload Video</li> -->
                  </ul>
                </div>

                <div class="text_box" id="write-something">
                  <textarea (focus)="openModal(createPost)" placeholder="Write Something.." id="writeSomething"></textarea>
                </div>
                <div class="upload_media media_box" id="upload-img">
                  <input type="file" id="upload_img" class="d-none" />
                  <label for="upload_img"> <img src="assets/images/icons/uploadImg.png" alt="image" /> Upload image </label>
                </div>
                <div class="upload_media media_box" id="upload-video">
                  <input type="file" id="upload_vid" class="d-none" />
                  <label for="upload_vid"> <img src="assets/images/icons/upload_video.png" alt="video" class="mb-2" /> Upload video </label>
                </div>
                <div class="custom_card_ftr">
                  <p (click)="openModal(createPost)"><span>Write a Question</span> on tanito</p>
                  <p><span id="charCount">0</span>/2000</p>
                </div>
              </div>
              <router-outlet></router-outlet>
              <app-timeline [myData]="user"></app-timeline>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #createPost>
    <div class="modal_tanito">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase">Create Post</h5>
          </div>
          <div class="modal-body">
            <div class="user">
              <div class="user-img">
                <img [src]="user.profile_img.length > 0 ? profilePath + user.profile_img : userAvatar" alt="user image">
              </div>
              <div class="user-info">
                <h6>
                  <span>{{ user.username }}</span>
                  <img [src]="user.usertype == 3 ? studentIcon : teacherIcon" alt="user type">
                </h6>
                <p>{{ (user.usertype == 3 ? "Student at ":"Teacher at ") +  user.university }}</p> 
              </div>
            </div>
            <form action="#" class="registration-form" (submit)="onCreatePost(createPostForm)" #createPostForm="ngForm">
              <div class="post-body">
                <textarea 
                name="body" 
                placeholder="Write Something..." 
                ngModel 
                required>
              </textarea>
                <div class="upload-media">
                  <div class="upload">
                    <input 
                    type="file" 
                    name="image"
                    accept="image/*"
                    (change)="onSelectImage($event)" multiple>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i> Add picture</p>
                  </div>
                  <div class="upload">
                    <input 
                    type="file" 
                    name="video"
                    accept="video/mp4"
                    (change)="onSelectVideo($event)">
                    <p><i class="fa fa-video-camera" aria-hidden="true"></i> Add video</p>
                  </div>
                </div>
              </div>
              <div class="media-row" *ngIf="imgThumb.length > 0 || videoThumb.length > 0">
                <div class="cover" *ngIf="imgThumb.length > 0">
                  <img [src]="imgThumb" alt="">
                  <i class="remove fa fa-times" (click)="removeImg()" aria-hidden="true"></i>
                </div>
                <div class="cover video" *ngIf="videoThumb.length > 0">
                  <img [src]="videoThumb" alt="">
                  <i class="remove fa fa-times" (click)="removeVideo()" aria-hidden="true"></i>
                </div>
                
              </div>
              <div class="form-group">
                <label class="primary_color spcllbl">Select Subjects</label>
                <select name="subject" class="form-control" ngModel>
                  <option *ngFor="let subject of subjects" value="{{ subject }}">{{ subject | titlecase }}</option>
                </select>  
              </div>
              <div class="form-group">
                <label class="primary_color spcllbl">Select Tags</label>
                <mat-form-field class="demo-chip-list" style="width: 100%">
                  <mat-chip-list #chipList>
                    <mat-chip
                      *ngFor="let tag of selectedTags"
                      [selectable]="selectable"
                      [removable]="removable">
                      {{ tag | titlecase }}
                      <mat-icon matChipRemove (click)="removeTag(tag)" *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                      matInput
                      #tagInput
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                    />
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                    <mat-option *ngFor="let tag of filteredTags | async">
                      {{ tag | titlecase }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <button type="submit" [disabled]="createPostForm.invalid" class="btn purple_btn">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>