.modal-body {
    .user {
        display: flex;
        align-items: center;
        .user-img {
            width: 55px;
            height: 55px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .user-info {
            text-align: left;
            margin-left: 10px;
            h6 {
                margin-bottom: 7px;
                position: relative;
                display: inline-block;
                img {
                    position: absolute;
                    top: -7px;
                    right: -45px;
                    width: 30px;
                    height: 30px;
                }
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    .post-body {
        margin-bottom: 30px;
        textarea {
            width: 100%;
            height: 130px;
            outline: none;
            border: 1px solid #cccc;
            resize: none;
            font-size: 16px;
            margin: 30px 0 20px;
            padding: 10px;
            &::placeholder {
                font-size: 16px;
            }
        }
        .upload-media {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, .3);
            .upload {
                position: relative;
                margin-right: 30px;
                p {
                    margin-bottom: 0;
                    font-weight: 500;
                    color:  rgba(0, 0, 0, .5);
                    i {
                        margin-right: 3px;
                    }
                }
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }
    .media-row {
        text-align: left;
        display: flex;
        margin-top: 25px;
        .cover {
            position: relative;
            margin-right: 15px;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
            }
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            &.video {
                &::before {
                    background: rgba(0, 0, 0, .5);
                }
                &::after {
                    position: absolute;
                    content: "\f144";
                    font: normal normal normal 35px/1 FontAwesome;
                    color: #fff;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            .remove {
                position: absolute;
                top: 7px;
                right: 7px;
                font-size: 24px;
                color: #fff;
            }
        }
    }
    .form-group {
        margin: 15px 0;
    }
    button {
        min-width: 120px;
        border-radius: 25px;
        color: #fff;
    }
    .mat-form-field-infix {
        box-shadow: 0px 3px 3px #7D3B8A24;
        border: 2px solid #514DC5;
        border-radius: 12px;
        padding: 15px 10px !important;
    }
    
    .ng-tns-c59-0.ng-star-inserted {
        opacity: 0;
    }
}

.mat-tab-body-content {
    height: 450px !important;
    overflow: scroll;
    padding: 25px;
}
.mat-tab-label-content {
    .badge {
        margin-left: 5px;
        background: #514DC5;
    }
    img {
        height: 28px;
    }
}

.cdk-overlay-container {
    z-index: 1100;
}
