<section class="student_timeline student_sec">
    <div class="container">
        <div class="student_inr">
            <div class="row">
                <!-- student timeline left -->
                <div class="col-md-4 col-lg-3">
                    <div class="student_lft">
                        <div class="custom_card profile_box">
                            <div class="dp_box">
                               <a href="profile.php"> <img src="assets/images/icons/dp.png" alt="profile image"> </a>
                            </div>
                            <div class="text-center pb-2">
                                <h3 class="text-center">Jhon Doe</h3>
                                <p>vikramsingh@gmail.com</p>
                            </div>
                            <div class="followers_info d-flex">
                                <div class="followers_lft">
                                    <h4>850</h4>
                                    <p>Followers</p>
                                </div>
                                <div class="followers_rht">
                                    <h4>215</h4>
                                    <p>Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="custom_card sideMenu_box">
                            <ul>
                                <li>
                                    <a href="#" routerLink="/userTimeline" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                      <img src="assets/images/icons/home.png" alt="home">
                                      Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#" routerLink="network" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <img src="assets/images/icons/users.png" alt="user">
                                        My Network
                                    </a>
                                </li>
                                <li>
                                    <a href="#" routerLink="inbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <img src="assets/images/icons/message.png" alt="message">
                                        Messages
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="custom_card category_card">
                          <h3>Categories</h3>
                          <div class="category_accord">
                            <h4 class="accord_btn">Math <i class="fas fa-caret-right"></i></h4>
                            <div class="content">
                              <ul>
                                <li>Electric Charges and Fields</li>
                                <li>Current Electricity</li>
                                <li>Moving Charges and Magnetism</li>
                                <li>Magnetism and Matter</li>
                                <li>Electromagnetic Induction</li>
                                <li>Alternating Current</li>
                                <li>Electromagnetic Waves</li>
                                <li>Communication Systems</li>
                              </ul>
                            </div>
                          </div>
                          <div class="category_accord">
                            <h4 class="accord_btn">Science <i class="fas fa-caret-right"></i></h4>
                            <div class="content">
                              <ul>
                                <li>Electric Charges and Fields</li>
                                <li>Current Electricity</li>
                                <li>Moving Charges and Magnetism</li>
                                <li>Magnetism and Matter</li>
                                <li>Electromagnetic Induction</li>
                                <li>Alternating Current</li>
                                <li>Electromagnetic Waves</li>
                                <li>Communication Systems</li>
                              </ul>
                            </div>
                          </div>
                          <div class="category_accord">
                            <h4 class="accord_btn">GK <i class="fas fa-caret-right"></i></h4>
                            <div class="content">
                              <ul>
                                <li>Electric Charges and Fields</li>
                                <li>Current Electricity</li>
                                <li>Moving Charges and Magnetism</li>
                                <li>Magnetism and Matter</li>
                                <li>Electromagnetic Induction</li>
                                <li>Alternating Current</li>
                                <li>Electromagnetic Waves</li>
                                <li>Communication Systems</li>
                              </ul>
                            </div>
                          </div>
                          <div class="category_accord">
                            <h4 class="accord_btn">Computer <i class="fas fa-caret-right"></i></h4>
                            <div class="content">
                              <ul>
                                <li>Electric Charges and Fields</li>
                                <li>Current Electricity</li>
                                <li>Moving Charges and Magnetism</li>
                                <li>Magnetism and Matter</li>
                                <li>Electromagnetic Induction</li>
                                <li>Alternating Current</li>
                                <li>Electromagnetic Waves</li>
                                <li>Communication Systems</li>
                              </ul>
                            </div>
                          </div>
                          <div class="category_accord">
                            <h4 class="accord_btn">English <i class="fas fa-caret-right"></i></h4>
                            <div class="content">
                              <ul>
                                <li>Electric Charges and Fields</li>
                                <li>Current Electricity</li>
                                <li>Moving Charges and Magnetism</li>
                                <li>Magnetism and Matter</li>
                                <li>Electromagnetic Induction</li>
                                <li>Alternating Current</li>
                                <li>Electromagnetic Waves</li>
                                <li>Communication Systems</li>
                              </ul>
                            </div>
                          </div>
                          <a href="#" class="see_all_btn">See all</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-8 col-lg-9">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>