<div class="custom_card custom_crd_padd">
    <div class="follow_top d-flex align-items-center">
      <div class="follow_lft"> <img src="assets/images/icons/dp.png" alt="profile image" /> </div>
      <div class="follow_rht">
        <div class="d-flex align-items-center">
          <h3>Gary Vaynerchuk</h3>
          <img src="assets/images/icons/img_icon.png" alt="" class="ml-3 mr-3" /> <span class="dots">Following</span> </div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
        <p>10h</p>
      </div>
      <button type="button" class="dots_btn" data-toggle="modal" data-target="#rate_mdl"><img src="assets/images/icons/dots.png" alt="dots" /></button>
    </div>
    <div class="follow_bdy">
      <p> What's something you can help with or need help with in 2020? Please use this thread as an old school bulletin board. Leave a comment and then scroll through the other comments to see if you can help
        someone else! </p>
    </div>
    <div class="follow_ftr">
      <button type="button" data-toggle="modal" data-target="#reaction_mdl"><img src="assets/images/icons/like_icon.png" alt="icon" /></button>
      <button type="button" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
    </div>
</div>