.hashtags {
    li {
        display: inline-block;
        margin-right: 10px;
        color: #007bff;
    }
}
.profile-pic {
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.share-post {
    position: relative;
    margin-left: auto;
    share-buttons {
        position: absolute;
        bottom: 45px;
        right: -3px;
        display: none;
        &.show {
            display: block;
        }
    }
}

.subject {
    font-size: 14px;
}

.mention {
    color: #007bff;
    font-size: 14px;
}