<div #postBlock></div>
<div *ngIf="myData.user_post_data">
  <div class="custom_card custom_crd_padd" *ngFor="let post of myData.user_post_data | recentPost">
    <div class="follow_top d-flex align-items-center">
      <div class="follow_lft"> <img class="profile-img" [src]="myData.profile_img" [alt]="myData.username" />  </div>
      <div class="follow_rht">
        <div class="d-flex align-items-center">
          <h3>{{ myData.username }}</h3>
          <img class="user-type" [src]="myData.usertype == 3 ? teacherIcon : studentIcon" alt="user type">
        </div>
        <p>{{ (myData.usertype == 3 ? "Teacher at ":"Student at ") +  myData.university }} &nbsp; | &nbsp; {{ post.created | postCreated }}</p>
      </div>
      <button type="button" (click)="onDeletePost(post.id)" class="dots_btn" data-toggle="modal" data-target="#rate_mdl"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    <div class="follow_bdy">
      <p> {{ post.body }} </p>
      <img *ngIf="post.image.length > 0" class="post-img" [src]="imageDirPath + post.image">
      <plyr *ngIf="post.video.length > 0" style="display: block; width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: videoDirPath + post.video }]"></plyr>
    </div>
    <div class="follow_ftr">
      <button type="button" data-toggle="modal" data-target="#reaction_mdl"><img src="assets/images/icons/like_icon.png" alt="icon" /></button>
      <button type="button" data-toggle="modal" data-target="#report_mdl"><img src="assets/images/icons/share_icon.png" alt="icon" /></button>
    </div>
</div>
</div>

<div *ngIf="!myData.user_post_data || myData.user_post_data.length == 0" class="custom_card custom_crd_padd">
  <h5>You did not post anything yet!</h5>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>