.hashtags {
    li {
        display: inline-block;
        margin-right: 10px;
        color: #007bff;
    }
}
.profile-pic {
    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
}