<div class="student_rht chat_box_rht">
    <div class="chat_box">
      <div class="chat_box_top d-flex align-items-center" *ngIf="isFetched">
        <div class="chatBoxTop_lft d-flex align-items-center"> <span class="dp_box"><img [src]="profilePath + receiver.profile_img" alt="profile" /></span>
          <h4>{{ receiver.username }} <span>{{ (receiver.usertype == 3 ? "Teacher at ":"Student at ") +  receiver.university }}</span> </h4>
          <img class="user-type" [src]="receiver.usertype == 3 ? teacherIcon : studentIcon" alt="user type"> 
        </div>
        <div class="chatBoxTop_rht d-flex align-items-center justify-content-between">
          <h4>Messages</h4>
          <button type="button" class="message_tgle"><img src="assets/images/icons/three_dots.png" alt="icon" /></button>
        </div>
      </div>
      <div class="chat_box_body width_body">
        <app-chatroom [chatFeeds]="feeds"></app-chatroom>
      </div>
      <div class="chat_box_ftr d-flex align-items-center width_body">
        <textarea [(ngModel)]="message" placeholder="Write a message.."></textarea>
        <div class="btns d-flex align-items-center pl-2">
          <div>
            <input type="file" id="attach" class="d-none" />
            <label for="attach" class="m-0"><img src="assets/images/icons/attchment_icon.png" alt="attach icon" /></label>
          </div>
          <button type="submit"><img src="assets/images/icons/send_icon.png" (click)="onSendMsg()" alt="send" /></button>
        </div>
      </div>
      <div class="msg_panel">
        <div class="search_box">
          <div class="form-group m-0">
            <input type="text" class="form-control" placeholder="Search messages.." />
            <button type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="msg_panel_inr">
          <div class="indvsl_msg_box" [routerLink]="'/feed/inbox/' + chatRoom.memberId" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let chatRoom of chatRooms">
            <div class="row">
              <div class="col-md-2"> <span><img [src]="profilePath + chatRoom.profileImg" alt="images" /></span> </div>
              <div class="col-md-10">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>{{ chatRoom.memberName }}
                     <!-- <span class="msg_badge">2</span> -->
                    </h3>
                  <span>Jan 4</span> </div>
                <p>You: Its awesome keep going</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>