<div #chatBox>
  <div class="student_rht chat_box_rht" *ngIf="isFetched || chatRooms.length > 0">
    <div class="chat_box">
      <div class="chat_box_top d-flex align-items-center" *ngIf="isFetched">
        <div class="chatBoxTop_lft d-flex align-items-center"> <span class="dp_box"><img [src]="profilePath + receiver.profile_img" [routerLink]="'/user/' + receiver.user_id" alt="profile" /></span>
          <h4 [routerLink]="'/user/' + receiver.user_id">
            {{ receiver.username }} 
            <span>{{ (receiver.usertype == 3 ? "Student at ":"Teacher at ") +  receiver.university }}
              <img class="user-type" [src]="receiver.usertype == 3 ? studentIcon : teacherIcon " alt="user type"> 
            </span> 
          </h4>
        </div>
        <div class="chatBoxTop_rht d-flex align-items-center justify-content-between">
          <h4>Messages</h4>
          <button type="button" (click)="toggleRooms()" class="message_tgle"><img src="assets/images/icons/three_dots.png" alt="icon" /></button>
        </div>
      </div>
      <div class="chat_box_body width_body">
        <app-chatroom [chatFeeds]="feeds"></app-chatroom>
      </div>
      <div class="chat_box_ftr d-flex align-items-center width_body">
        <textarea [(ngModel)]="message" (keyup.enter)="onSendMsg()" placeholder="Write a message.."></textarea>
        <div class="btns d-flex align-items-center pl-2">
          <!-- <div>
            <input type="file" id="attach" class="d-none" />
            <label for="attach" class="m-0"><img src="assets/images/icons/attchment_icon.png" alt="attach icon" /></label>
          </div> -->
          <button type="submit"><img src="assets/images/icons/send_icon.png" (click)="onSendMsg()" alt="send" /></button>
        </div>
      </div>
      <div class="msg_panel" [ngClass]="{'show': showRooms }">
        <div class="search_box">
          <div class="form-group m-0">
            <input type="text" class="form-control" placeholder="Search messages.." />
            <button type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="msg_panel_inr">
          <div class="indvsl_msg_box" [routerLink]="'/feed/inbox/' + chatRoom.memberId" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let chatRoom of chatRooms">
            <div class="row" (click)="onMsgRead(chatRoom.memberId)">
              <div class="col-md-2"> <span><img [src]="profilePath + chatRoom.profileImg" alt="images" /></span> </div>
              <div class="col-md-10">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>{{ chatRoom.memberName }}
                     <span *ngIf="!chatRoom.msgSeen" class="msg_badge">1</span>
                    </h3>
                  <span>Jan 4</span> </div>
                <p>{{ chatRoom.lastMsg }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="student_rht chat_box_rht no-msg" *ngIf="!isFetched && chatRooms.length == 0">
  <h5>You have no message!</h5>
</div>

<ng-template #buyPremium>
  <div class="modal_tanito" id="signotpmodal">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase">Buy Premium</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Hey, You have used your free message credit limit. Now explore our premium plans!</p>
          <a href="#" type="button" routerLink="/plans" class="text-purple btn_primary btn-sm">Try Tanito Premium</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>