<header class="navbar-header clearfix">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid"> <a  class="navbar-brand" href="#" routerLink="/" > <img src="assets/images/logo.svg" alt="logo" class="img-fluid head_logo"  /> </a>
        <div class="ml-auto right-nav  d-none d-md-block">
          <ul>
            <li> <a href="#" routerLink="/login"> Login </a> </li>
            <li> <a href="#" routerLink="/register" class="become_partner"> Join Now</a> </li>
          </ul>
        </div>
      </div>
    </nav>
</header>