.select-sub-input {
    position: relative;
    .btn_primary {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .list-group {
        width: 400px;
        height: 200px;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        z-index: 1;
    }
}

.mat-form-field-infix {
    box-shadow: 0px 3px 3px #7D3B8A24;
    border: 2px solid #514DC5;
    border-radius: 12px;
    padding: 15px 10px !important;
}

.ng-tns-c59-0.ng-star-inserted {
    opacity: 0;
}

.upload_media_file {
    position: relative;
    display: inline-block;
    .pic-upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    label {
        color: #514DC5;
        font-weight: 500;
    }
}