<div class="student_rht network_rht">
    <div class="custom_card">
        <div class="tabs_wrpr">
            <ul class="tabs_follow">
                <li routerLink="/feed/network" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Your Tanito Following</li>
                <li routerLink="followers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Your Tanito Followers</li>
            </ul>
        </div>
      <router-outlet></router-outlet>
    </div>
</div>