<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7 col-12">
        <div class="register_tab_area p-lg-5">
          <div class="register_title  mb-4">
            <h4>Sign In</h4>
            <p>Please continue with your credentials</p>
          </div>
          <div class="register_tab">
            <h4 class="title mb-4"> Hello, <span>Welcome Back!</span> </h4>
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-12 d-none d-md-block">
        <div class="sign-img p-lg-4"> <img src="assets/images/sign_pic.svg" alt="Sign" class="img-fluid"> </div>
      </div>
    </div>
  </div>