<ng-container *ngIf="isPlanActive; else noPlan">
    <div class="student_rht network_rht">
        <div class="custom_card">
            <h5>{{ resources ? 'Resources' : 'No Resources Found!' }}</h5>
        </div>
    </div>
    
    <div class="student_rht network_rht" *ngFor="let resource of resources">
        <div class="custom_card">
            <h6>{{ resource.title }}</h6>
            <div class="description" [innerHtml]="resource.description"></div>
            <plyr *ngIf="!resource.resource.includes('pdf')" style="display: block; max-width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="[{ src: path + resource.resource }]"></plyr>
            <embed *ngIf="resource.resource.includes('pdf')" [src]="path + resource.resource | safe" />
        </div>
    </div>
</ng-container>

<ng-template #noPlan>
    <div class="student_rht network_rht">
        <div class="custom_card">
            <h5>Subscribe to Tanito for accesing resources!</h5>
            <button routerLink="/plans" class="btn btn_primary mt-3">Try Tanit Premium</button>
        </div>
    </div>
</ng-template>