<section class="student_timeline student_sec">
    <div class="container-fluid">
        <div class="student_inr">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                  <app-user-info></app-user-info>
                </div>
                 <div class="col-lg-8 col-xl-9">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #profileAlertModal>
    <div class="modal_tanito report_modal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase">Complete Your Profile</h5>
          </div>
          <div class="modal-body text-center">
            <h5>Hey! please complete your profile to let everyone know you better!</h5>
            <button (click)="initUpdateProfile()" class="btn btn_primary mt-3">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>