<div class="student_lft row">
  <div class="col-12">
    <div class="custom_card profile_box">
        <div class="dp_box">
          <a routerLink="/myProfile"> <img [src]="user.profile_img" alt="profile image"> </a>
          <img class="user-type" [src]="user.usertype == 3 ? teacherIcon : studentIcon" alt="user type">
        </div>
        <div class="text-center pb-2">
            <h3 routerLink="/myProfile" class="text-center">{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        </div>
        <div class="followers_info d-flex">
            <div class="followers_lft">
                <h4>{{ user.count_follower }}</h4>
                <p>Followers</p>
            </div>
            <div class="followers_rht">
                <h4>{{ user.count_following }}</h4>
                <p>Following</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-12">
    <div class="custom_card sideMenu_box">
        <ul>
            <li>
                <a routerLink="/feed" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <img src="assets/images/icons/home.png" alt="home">
                  Home
                </a>
            </li>
            <li>
                <a routerLink="network" routerLinkActive="active">
                    <img src="assets/images/icons/users.png" alt="user">
                    My Network
                </a>
            </li>
            <li>
                <a [routerLink]="myInbox.defaultChatroom == 0 ? '/feed/inbox' : '/feed/inbox/'+ myInbox.defaultChatroom" routerLinkActive="active"> 
                    <img src="assets/images/icons/message.png" alt="message">
                    Messages <span class="badge badge-danger" [hidden]="myInbox.newMsgs == 0">{{ myInbox.newMsgs }}</span>
                </a>
            </li>
            <li>
              <a routerLink="my-plans" routerLinkActive="active">
                <img src="assets/images/icons/premium.svg" alt="plans">
                  My Plans
              </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="col-md-6 col-lg-12">
    <div class="custom_card category_card">
      <h3>Categories</h3>
      <div class="category_accord" *ngFor="let subject of subjects">
        <h4 class="accord_btn" routerLink="/feed" [queryParams]="{ cat: subject.replace(' ', '_')}">{{ subject }}</h4>
      </div>
      <a class="see_all_btn" [hidden]="subjects.length <= 6">See all</a>
    </div>
  </div>
</div>