<div class="chatBox_msg_body">
  <div class="inner-wrap">
    <div class="message" [ngClass]="{'own-msg': feed.senderId == loggedUserId}" *ngFor="let feed of chatFeeds">
      <div class="row">
        <div class="col-md-1"> 
          <span class="dp_box">
            <img [src]="feed.senderPic" alt="profile">
          </span> 
        </div>
        <div class="col-md-11 msg-body-col">
          <h4>{{feed.username}} <img [src]="feed.senderType == 3 ? studentIcon : teacherIcon" class="ml-3" alt="teacher"> <span>{{ feed.timeSent }}</span></h4>
          <div class="msg_body msg_body_blue_bg" [hidden]="feed.message.length == 0">
            <p>{{ feed.message }}</p>
          </div>
          <img class="attachment" *ngIf="feed.attachment.search(imgRegex) !== -1" [src]="feed.attachment">
          <video *ngIf="feed.attachment.search(vdoRegex) !== -1" class="attachment" controls>
            <source [src]="feed.attachment" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>