.message {
    margin: 25px 0;
    .msg-body-col {
        padding-left: 0;
    }
    .dp_box {
        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &.own-msg {
        .row {
            flex-direction: row-reverse;
            h4 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img {
                    order: 2;
                }
            }
            .msg-body-col {
                padding-right: 0;
                padding-left: 15px;
                p {
                    word-break: break-all;
                }
                .attachment {
                    float: right;
                    margin: 8px 0;
                    max-width: 100%;
                    max-height: 450px;
                }
            }
        }
    } 
}