<form class="registration-form" (submit)="onLogIn(logInForm)" #logInForm="ngForm">
    <div class="form-group">
      <label class="primary_color spcllbl">Phone No</label>
      <input 
      type="tel" 
      class="form-control" 
      placeholder="XXXXXXXXXX"
      name="phone"
      pattern="^[0-9]*$"
      minlength="10"
      ngModel
      required>
    </div>
    <div class="form-group">
      <label class="primary_color spcllbl">Password*</label>
      <input 
      type="password" 
      class="form-control password-field1" 
      placeholder="********"
      name="password"
      ngModel
      required> 
    </div>
    <a (click)="openModal(forgotPwd)" class="fwdpass primary_color text-right btn-block  mb-3">Forgot your password?</a>
      <div class="form-group text-center"> 
        <button type="submit" [disabled]="logInForm.invalid" class="btn btn_primary btn-sm text-uppercase" >Sign in</button>
      </div>
      <p class="text-center signnote mb-4"> New to Tanito? <a routerLink="/register" class="primary_color text-uppercase">Sign up</a> </p>

      <div class="text-center mb-4">
        <button type="button" (click)="signInWithGoogle()" class="btn btn_primary btn-sm text-uppercase mr-3">
          <img src="../../../../assets/images/google.png" class="mr-2" style="vertical-align: sub;" alt="google">
          Sign in with google
        </button>
        <button type="button" class="btn btn_primary btn-sm text-uppercase">
          <img src="../../../../assets/images/facebook.png" class="mr-2" style="vertical-align: sub;" alt="facebook">
          Sign in with facebook
        </button>
      </div>
  </form>

  
  <ng-template #resetPwd>
    <div class="modal_tanito" id="resetmodal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase"> Reset Password</h5>
          </div>
          <div class="modal-body">
            <h6 class="text-uppercase text-center mb-4">Kindly reset your password</h6>
            <form class="registration-form w-75 m-auto" (submit)="onResetPwd(resetPwdForm)" #resetPwdForm="ngForm">
              <div class="form-group">
                <label class="primary_color spcllbl">Password*</label>
                <input 
                [type]="!showPwd ? 'password' : 'text'" 
                class="form-control password-field1" 
                placeholder="**************"
                name="password"
                ngModel
                minlength="5"
                required>
                <span (click)="togglePwd()" class="fa fa-fw fa-eye field-icon toggle-password" [ngClass]="{'fa-eye-slash': showPwd}"></span> </div>
              <div class="form-group">
                <label class="primary_color spcllbl">Confirm password*</label>
                <input 
                [type]="!showConfirmPwd ? 'password' : 'text'" 
                class="form-control password-field1" 
                placeholder="**************"
                name="cpassword"
                ngModel
                minlength="5"
                required>
                <span (click)="toggleConfirmPwd()" class="fa fa-fw fa-eye field-icon toggle-password" [ngClass]="{'fa-eye-slash': showConfirmPwd}"></span> </div>
              <div class="form-group mb-2 text-center">
                <button type="submit" [disabled]="resetPwdForm.invalid" class="btn btn_primary btn-sm text-uppercase mr-3" >Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #forgotPwd>
    <div class="modal_tanito" id="forgotpmodal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase"> FORGOT PASSWORD</h5>
          </div>
          <div class="modal-body">
            <p class="mb-4">Please enter your registered mobile number &amp; we will send you a verification code so that you can reset your password.</p>
            <form class="registration-form w-75 m-auto" (submit)="onForgotPwd(forgotPwdForm)" #forgotPwdForm="ngForm">
              <div class="form-group mb-4">
                <label class="primary_color spcllbl">Phone No</label>
                <input 
                type="tel" 
                class="form-control" 
                placeholder="+876-9876543210"
                name="phone"
                pattern="^[0-9]*$"
                minlength="10"
                ngModel
                required>
              </div>
              <div class="form-group text-center">
                <button type="button" (click)="backToLogin()" class="btn btn_primary btn-sm text-uppercase mr-3" >Back to Login</button>
                <button type="submit" class="btn btn_primary btn-sm text-uppercase" [disabled]="forgotPwdForm.invalid">Get OTP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #otpVerify>
    <div class="modal_tanito" id="signotpmodal">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header primary_bg">
            <h5 class="modal-title text-uppercase">OTP VERIFICATION</h5>
          </div>
          <div class="modal-body">
            <p class="mb-4">Please enter the One Time Password received on your registered mobile number or email to verify your account. </p>
            <h6 class="mb-4">VERIFY YOUR ACCOUNT</h6>
            <div class="form-group verfOtp_box">
              <input type="text" (keyup)="goToNext(otpDigit1)" (keydown)="goToPrev(otpDigit1, $event)" class="form-control otp-number-input" placeholder="0" maxlength="1" #otpDigit1>
              <input type="text" (keyup)="goToNext(otpDigit2)" (keydown)="goToPrev(otpDigit2, $event)" class="form-control otp-number-input" placeholder="0" maxlength="1" #otpDigit2>
              <input type="text" (keyup)="goToNext(otpDigit3)" (keydown)="goToPrev(otpDigit3, $event)" class="form-control otp-number-input" placeholder="0" maxlength="1" #otpDigit3>
              <input type="text" (keyup)="goToNext(otpDigit4)" (keydown)="goToPrev(otpDigit4, $event)" class="form-control otp-number-input" placeholder="0" maxlength="1" #otpDigit4>
            </div>
            <button type="button" class="btn btn_primary btn-sm text-uppercase mb-2" (click)="onVerifyOtp(otpDigit1.value, otpDigit2.value, otpDigit3.value, otpDigit4.value)">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>