<section class="pricing">
  <div class="container">
    <div class="intro">
      <h4>Pricing and Plans</h4>
      <p>lorem ipsum, lorem ipsum, lorem ipsum</p>
      <!-- <ul class="tabs">
        <li class="active" id="monthly">Monthly</li>
        <li id="yearly">Yearly</li>
      </ul> -->
    </div>
    <div class="row slider-wrap justify-content-center">
      <div class="col-4" *ngFor="let plan of plans">
        <div class="card-wrap purple">
          <div class="title">
            <h4><img src="assets/images/message.svg" alt="message">{{ plan.plan }}</h4>
            {{plan.id}}
          </div>
          <div [innerHtml]="plan.description" class="list content"></div>
          <!-- <h3>₹1200 <span>/month</span></h3> -->
          <h3>{{ plan.amount | currency:'₹' }} /<span> {{ plan.validity }} Months</span></h3>
          <a (click)="initPay(plan.plan, plan.amount)" class="btn" data-target="#pricing_success_modal">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</section>