<section class="pricing">
  <div class="container">
    <div class="intro">
      <h4>Pricing and Plans</h4>
      <p>lorem ipsum, lorem ipsum, lorem ipsum</p>
    </div>
    <div class="row slider-wrap justify-content-center">
      <div class="col-12 col-sm-6 col-lg-4 col-wrap" *ngFor="let plan of plans">
        <div class="card-wrap purple">
          <div class="inner-wrap">
            <div class="top-block">
              <div class="title">
                <h4><img src="assets/images/message.svg" alt="message">{{ plan.plan }}</h4>
              </div>
              <div [innerHtml]="plan.description" class="list content"></div>
            </div>
            <div class="bottom-block">
              <h3>{{ plan.amount | currency:'₹' }} /<span> {{ plan.validity }} Months</span></h3>
              <a (click)="initPay(plan.plan, plan.id, plan.amount)" class="btn" data-target="#pricing_success_modal">Choose Plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #confirmationBox>
  <div class="modal_tanito" id="signotpmodal">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header primary_bg">
          <h5 class="modal-title text-uppercase">Plan</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">Hey, you have subscribed our <strong>{{ options.description | titlecase }}</strong>! Now explore your plans here.</p>
          <button type="button" (click)="navigateToPlans()" class="text-purple btn_primary btn-sm">My Plans</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>