.register_tab {
    ul {
        li {
            a {
                cursor: pointer;
            }
        }
    }
}
.text-muted {
    a {
        color: #007bff;
    }
}

.btn-grp {
    .btn {
        margin: 5px;
        @media screen and (max-width: 480px) {
            font-size: 12px;
        }
    }
}