.info-box {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    min-height: 535px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #C4C8D066;
    overflow: hidden;
    .form-title {
        background: #514DC5;
        padding: 20px 0;
        h5 {
            text-align: center;
            color: #fff;
        }
    }
    .inner-wrap {
        overflow-y: scroll;
        max-height: 603px;
        padding: 30px 40px;
    }
}