<div class="student_rht">
    <div class="custom_card networks_people" *ngIf="users.length > 0">
      <div class="network_top">
        <h3>People <img src="assets/images/icons/down-arrow.png" alt="arrow down"></h3>
      </div>
      <div class="network_btm">
        <div class="connection d-flex align-items-center justify-content-between" *ngFor="let user of users; let i = index">
          <div class="connection_lft d-flex align-items-center"> 
              <span [routerLink]="'/user/'+ user.data.id"> <img [src]="user.data.profile_img.length == 0 ? userAvatar : path + user.data.profile_img" [alt]="user.data.username"> <img class="user-type" [src]="user.data.usertype == 3 ? studentIcon : teacherIcon" alt="user type"> </span>
            <div class="ml-4">
                <h4 [routerLink]="'/user/'+ user.data.id">{{ user.data.username }}</h4>
                <span *ngIf="user.data.university !== null">{{ (user.data.usertype == 3 ? "Student at ":"Teacher at ") +  user.data.university }}</span> 
            </div>
          </div>
          <div class="connection_rht">
            <button type="button" (click)="onFollowUser(user.data.id, i)" class="follow_btn">{{ user.followed == true ? "Unfollow":"Follow" }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="custom_card networks_people" *ngIf="users.length == 0">
      <div class="network_btm">
        <h5>There is no such result!</h5>
      </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>