<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-custom navbar-light" id="navbar">
    <div class="container-fluid"> 
      <!-- LOGO --> 
      <a href="#" class="logo"> <img src="assets/images/logo.svg" alt="footer icon" class="logo-footer" height="70"> </a>
      <div class="footermenu" >
        <ul class="">
          <li class="active"> <a href="index.php">Home</a> </li>
          <li> <a href="student-home.php">Student</a> </li>
          <li> <a href="student-home.php">Teacher</a> </li>
          <li> <a href="pricing.php">Resources</a> </li>
          <li> <a href="contact-us.php">Contact Us</a> </li>
          <li> <a href="sign-in.php">Login</a> </li>
        </ul>
      </div>
      <div class="footermenu" >
        <ul class="foo-social">
          <li> <a href="#"><i class="fab fa-facebook-f"></i></a> </li>
          <li> <a href="#"><i class="fab fa-twitter"></i></a> </li>
          <li> <a href="#"><i class="fab fa-linkedin-in"></i></a> </li>
          <li> <a href="#"><i class="fab fa-google-plus-g"></i></a> </li>
        </ul>
      </div>
    </div>
  </nav> 
   <div class="container-fluid"> 
   <hr>
    <div class="copy">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-3">
            <p class="f-15 mb-0"> Copywrite &#169; 2020 Tanito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>