<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-custom navbar-light" id="navbar">
    <div class="container-fluid"> 
      <div class="inner-wrap row align-items-center justify-content-between">
           <!-- LOGO --> 
        <a class="logo"> <img src="assets/images/logo.svg" alt="footer icon" class="logo-footer" height="70"> </a>
        <div class="footermenu" >
          <ul>
            <li class="active"> <a href="/">Home</a> </li>
            <li> <a href="#" routerLink="/about-us">About Us</a> </li>
            <li [hidden]="isLoggedIn"> <a href="#" routerLink="/login">Login</a> </li>
            <li [hidden]="isLoggedIn"> <a href="#" routerLink="/register">Register</a> </li>
          </ul>
        </div>
        <div class="footermenu" >
          <ul class="foo-social">
            <li><a href="https://www.facebook.com/tanito.in" target="_blank"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://twitter.com/in_tanito" target="_blank"><i class="fa fa-twitter"></i></a> </li>
            <li><a href="https://www.linkedin.com/company/tanito" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
          </ul>
        </div>
      </div>
      </div>
  </nav> 
   <div class="container-fluid"> 
   <hr>
    <div class="copy">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-3">
            <p class="f-15 mb-0"> Copyright &#169; 2020 Tanito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>